

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 48px;
  gap: 24px;
  font-family: "Poppins","system-ui",sans-serif;
}

@media (width < 768px) {
  .block {padding: 48px 24px;}
}
.header_grey {
  color: rgb(156 163 175);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 24px;
  text-align: center;
}
.header_black {
  color: rgb(55 65 81);
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 24px;
  text-align: center;
}
.header_text {
  color: rgb(107 114 128);
  max-width: 700px;
  text-align: center;
}


.styles_container {
  display: flex;
  gap: 24px;
  flex-direction: column;

  @media (width > 1024px) {
    // Показываем элементы начиная с 5-го на планшетах
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

}



.style {
  background-color: white;
  border-radius: 8px;

  padding: 12px;

  @media (width > 1024px) {
    max-width: 320px;
  }

}

.style_header {
  font-weight: 600;
  font-size: 18px;
  gap: 4px;
  align-items: center;
  display: inline-block;
  margin-bottom: 4px;
  &>i {color: rgb(99 102 241);}
}

.style_text {
  color: rgb(107 114 128);
  font-size: 14px;
}








