

.block {
  color: rgb(165 180 252);
  background-color: rgb(79 70 229);
  border-radius: 8px;
  max-width: 900px;
  width: 100%;
  margin: auto;
  margin-top: 128px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

.panel {
  display: flex;
  padding: 32px;
  gap: 12px;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1 1 0%;
}

.header {
  color: rgb(224 231 255);
  font-weight: 600;
  font-size: 24px;
}

.image_div {user-select: none;}

@media (width < 768px) {
  .image_div {display: none;}
}

